<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Language level select</title>
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/css1.css">

</head>

<body>
    <div class="heading">
        <div class="container-fluid header-text">
            Выбери свой уровень английского:
        </div>
    </div>
    <div class="container">
        <div class="welcome-body">
            <form id="f" method="post" action="/language_level">
               <button class="btn btn-light btn-lg level-button" value="elemntary">A - Elementary</button>
               <button class="btn btn-light btn-lg level-button" value="intermidate">B - Intermidate</button>
               <button class="btn btn-light btn-lg level-button" value="advanced">C - Advanced</button>
            </form>
        </div>

    </div>
</body>

</html>