<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Welcome to the MemRa system!</title>
  <script src="public/js/menu.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/css1.css" />
</head>

<body>
  <div class="container-fluid heading text-center">
    <div class="header-text m-2">
      MemRa. Multilevel interactive system of memorizing English words and
      phrases
    </div>
  </div>
  <div class="container-fluid">
    <div class="welcome-body">
      <form id="f" method="post" action="/">
        <label for="basic-url" class="h4">Welcome to Memra.</label>
        <div class="input-group page1-input my-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Username:</span>
          </div>
          <input type="text" class="form-control page1-input" id="basic-url" aria-describedby="basic-addon3" name="userName"
            placeholder="JaneDoe1234" />
        </div>
        <button type="submit" class="btn btn-lg btn-primary page1-input mt-1">Начать учиться</button>
      </form>
    </div>
  </div>
</body>

</html>