<head>
    <meta charset="utf-8">
    <title>Language level select</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/css1.css">
</head>

<body>
    <div class="heading">
        <div class="container-fluid header-text mt-2 my-3">
            Выбери свой тип памяти:
        </div>
    </div>
    <div class="container">
        <div class="welcome-body">
            <form id="f" method="post" action="/page3">
               <button class="btn btn-light btn-lg level-button my-3" name="memory" value="excellent">Отличная</button>
               <button class="btn btn-light btn-lg level-button my-3" name="memory" value="good">Хорошая</button>
               <button class="btn btn-light btn-lg level-button my-3" name="memory" value="bad">Плохая</button>
            </form>
        </div>
    </div>
</body>

</html>