<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <title>Welcome to the MemRa system!</title>
  <script src="public/js/menu.js"></script>
  <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" /> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="../css/css1.css" />
</head>

<body>
  <div class="container-fluid heading text-center">
    <div class="header-text">
      MemRa. Multilevel interactive system of memorizing English words and
      phrases
    </div>
  </div>
  <div class="container-fluid body-block">
    <div class=" welcome-body">
      <form id="f" method="post" action="/">
        <!-- <label class="w3-text-black"><b>Введи свое имя:</b></label><br />
        <script>
            read(document.getElementById("source"));
          </script>
        <input id="source" name="userName" type="text" />
        <p>
          <input id="Sbm_name" onclick="store(source)"
            class="w3-button w3-white w3-border w3-border-black w3-round-large" type="submit" value="Начать учиться" />
        </p> -->
        <label for="basic-url" class="h4">Welcome to Memra.</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Username:</span>
          </div>
          <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3" name="user"
            placeholder="JaneDoe1234" />
        </div>
        <button type="submit" class="btn btn-lg btn-primary">Начать учиться</button>
      </form>
    </div>
  </div>
</body>

</html>