<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Language level select</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/css1.css">
</head>

<body>
    <div class="heading">
        <div class="container-fluid header-text">
            Выбери свой уровень английского:
        </div>
    </div>
    <div class="container-fluid">
        <div class="welcome-body button-block ">
            <form id="f" method="post" action="/page2">
               <button class="btn btn-light btn-lg level-button my-3" name="level" value="elementary">A - Elementary</button>
               <button class="btn btn-light btn-lg level-button my-3" name="level" value="intermidate">B - Intermidate</button>
               <button class="btn btn-light btn-lg level-button my-3" name="level" value="advanced">C - Advanced</button>
            </form>
        </div>
    </div>
</body>

</html>